<!DOCTYPE html>
<html>
  <head>
   	<meta charset="utf-8"> 
	<title>ejs example</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='javascript' href='/javascripts/test.js' />
  </head>
  <body>
    <p>hello test hago it er yol!<!p>
  </body>
</html>
