<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Join</title>
</head>
<body>
	<h1>join</h1>
	<form method="post">
		<label>AdminCode :</label><input type="text" name="AdminCode"><br>
		<label>Password: </label><input type="text" name="AdminPW"><br>
	
		<label>New Name: </label><input type="text" name="NewAdminName"><br>
		<label>New Phone: </label><input type="tel" name="NewAdminPhone"><br>
		<label>New WorkNum: </label><input type="tel" name="NewAdminWorkNum"><br>
		<label>New Email: </label><input type="email" name="NewAdminEmail"><br>
		<label>New Password: </label><input type="password" name="NewAdminPW"><br>
		<label>Re-Password: </label><input type="password" name="Re-PW"><br>
		<input type="submit">
	</form>
</body>
</html>
