<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Join</title>
</head>
<body>
	<h1>chage UsrmanageTable</h1>
	<form method="post">
		<label>UsrCode :</label><input type="text" name="UsrCode"><br>
		<label>Name: </label><input type="text" name="ko_Name"><br>
		<label>ImpCode: </label><input type="number" name="ko_ImpCode"><br>
		<label>S1: </label><input type="number" name="S1"><br>
		<label>S2: </label><input type="number" name="S2"><br>
		<label>S3: </label><input type="number" name="S3"><br>
		<label>S4: </label><input type="number" name="S4"><br>
		<input type="submit">
	</form>
</body>
</html>
