<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<h1>login</h1>
	<form method="post">
		<label>AdminCode :</label><input type="text" name="AdminCode"><br>
		<label>Password: </label><input type="password" name="AdminPW"><br>
		<input type="submit">
	</form>
</body>
</html>
